/* rc */
.rc-container.fl-tl.fl-c{
  width: 100%;
  padding: 1.25vw;
  background: var(--color-bg);
  box-shadow: 0px 4px 23px 4px rgba(54, 30, 119, 0.1);
  border-radius: 8px;
  gap: 2.08vw;
}

.rc-reward-id.fl-cc{
  padding: 10px 12px;
  border-radius: 4px;
  background-color: var(--color-sub-bg);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  color: var(--color-text);
}

/* reward - description */
.rc-details.fl-tl.fl-c{
  width: 100%;
  padding: 10px;
  gap: 16px;
}

.rc-title,
.rc-description,
.rc-perks-container h5,
.rc-perks.fl-tl.fl-c li{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 13px;
  line-height: 1em;
  color: var(--color-card-text);
}

.rc-title{
  font-size: 15px;
  letter-spacing: 0.02em;
}

.rc-description{
  font-weight: 400;
  line-height: 1.25em;
}

.rc-perks-container h5{
  font-weight: 300;
  margin-bottom: 10px;
}

.rc-perks.fl-tl.fl-c{
  gap: 8px;
}

.rc-perks.fl-tl.fl-c li{
  font-weight: 500;
}

.rc-input-container.fl-bl.fl-sb{
  width: 100%;
}

.rc-input{
  width: 70%;
}

.rc-input p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1em;
  color: var(--color-card-text);
}

.rc-fund-container.fl-cl{
  margin-top: 8px;
  width: 100%;
}

.rc-inp.fl-cl.fl-sb{
  width: 100%;
  border-bottom: 1px solid var(--color-text);
  background-color: var(--color-sub-bg);
  border-radius: 4px 4px 0 0;
  padding: 4px 8px;
}

.rc-inp input{
  width: 90%;
  border: none;
  outline: none;
  background-color: var(--color-sub-bg);
  border-radius: 8px;


  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  color:  var(--color-text);
}

.rc-inp input:focus{
  outline: none;
}

.rc-cta{
  padding: 0.65em 1.5em;
  background: var(--color-btn);
  box-shadow: 0px 4px 23px 4px rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 8px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: max(11px, 1.1vw);
  line-height: 1em;
  letter-spacing: 0.04em;
  color: var(--color-htext);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.rc-cta:hover{
  transform: scale(1.05);
}

