/* si */
.si-sidebar-reactive{
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  background: none;
}
@media (max-width: 850px){
  .si-sidebar-reactive{
    display: flex;
    justify-content: flex-end;
  }
}

.si-slide-in{
  animation: slidein 0.8s ease forwards;
}
@keyframes slidein{
  0%{
    transform: translateX(100vw);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

.si-slide-out{
  animation: slideout 1s ease forwards;
}
@keyframes slideout{
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX(100vw);
    opacity: 0;
  }
}

.si-sidebar.fl-tl{
  min-height: 100vh;
  width:30%;
  background-color: var(--color-footer);
  box-shadow: 0px 4px 23px 4px rgba(0, 0, 0, 0.13);
  padding: 1em 2em;
  flex-direction: column;
  justify-content: space-between;
}
@media(max-width: 700px){
  .si-sidebar.fl-tl{
    width: 40%;
  }
}
@media(max-width: 550px){
  .si-sidebar.fl-tl{
    width: 50%;
  }
}

.si-inVis{
  display: none;
}

.si-nav{
  width: 100%;
  border-bottom: 1px solid #342759;
  padding-bottom: 1em;
}

.si-sidebar-menu.fl-tl{
  flex-direction: column;
  gap: 4em;
  width:100%;
}

.si-sidebar-menu-link{
  width: 100%;
  border-bottom: 1px solid #342759;
  padding-bottom: 1em;
}

.si-sidebar-menu-link a{
  font-family: var(--font-family);
  color: var(--color-htext);
  font-weight: 500;
  font-size: clamp(13px, 1.1vw, 16px);
  line-height: 1em;
  letter-spacing: 0.06em;
}

.si-connect-wrapper{
  width: 100%;
  border-top: 1px solid #342759;
  padding: 1em 0;
}

.si-connect.fl-cc{
  padding: 0.65em 1em;
  background: var(--color-btn);
  box-shadow: 0px 4px 23px 4px rgba(0, 0, 0, 0.13);
  border: none;
  border-radius: 8px;
  width: 100%;

  gap: 0.5em;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(13px, 1.8vw, 16px);
  line-height: 1em;
  letter-spacing: 0.04em;
  color: var(--color-htext);
  cursor: pointer;
}

.si-connect.fl-cc.si-con-small{display: none;}
@media(max-width: 740px){
  .si-connect.fl-cc.si-con-big{display: none;}
  .si-connect.fl-cc.si-con-small{display: flex;}
}

.si-wallet-icon{
  width: 18px;
  height: 18px;
  color: var(--color-htext);
}


