/* bt */
.bt-tab.fl-tl.fl-c,
.bt-heading.fl-tl.fl-c{
  gap: 0.8em;
}
@media(max-width: 600px){
  .bt-heading.fl-tl.fl-c{
    align-items: center;
  }
}

.bt-title{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 3rem;
  line-height: 1em;
  color: var(--color-card-text);
  width: 100%;
}
@media(max-width: 1000px){
  .bt-title{
    font-size: 2rem;
  }
}
@media(max-width: 600px){
  .bt-title{
    text-align: center;
  }
}
.bt-subtitle{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25em;
  color: var(--color-card-text); 
  width: 50%;
}
@media(max-width: 1000px){
  .bt-subtitle{
    font-size: 1rem;
  }
}
@media(max-width: 600px){
  .bt-subtitle{
    font-size: 1rem;
    width: 80%;
    text-align: center;
  }
}

.bt-form-container.fl-cl.fl-c{
  gap: 3rem;
  width: 100%;
  padding: 1em;
}

.bt-card.fl-tl.fl-c{
  width: 100%;
  padding: 1.8rem;
  background: var(--color-bg);
  box-shadow: 0px 4px 23px 4px rgba(54, 30, 119, 0.1);
  border-radius: 0.44em;
  gap: 2rem;
}
.bt-card:focus-within{
  border: 2px solid var(--color-card-text);
}
@media(max-width: 1000px){
  .bt-card.fl-tl.fl-c{
    padding: 1.5rem;
    gap: 1.2rem;
  }
}

.bt-card-heading{
  width: 100%;
}

.bt-card-title{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 2rem;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: var(--color-card-text);
  width: 100%;
  margin-bottom: 0.55em;
}
@media(max-width: 1000px){
  .bt-card-title{
    font-size: 1.5rem;
  }
}
@media(max-width: 600px){
  .bt-card-title{
    font-size: 1.2rem;
  }
}

.bt-card-sep{
  width: 100%;
  height: 1px;
  background: var(--color-card-text);
}

.bt-card-subtitle{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25em;
  color: var(--color-card-text);
  width: 60%;
}
@media(max-width: 1000px){
  .bt-card-subtitle{
    font-size: 1.2rem;
  }
}
@media(max-width: 600px){
  .bt-card-subtitle{
    font-size: 1rem;
  }
}

.bt-card-input.fl-bl.fl-c{
  width: 60%;
  gap: 0.5rem;
}

.bt-card-txt-input,
.bt-card-txt-ta,
.bt-card-num-input{
  outline: none;
  border: none;
  background-color: var(--color-sub-bg);
  width: 100%;
  height: 2.78vw;
  padding: 0.667em;
  border-radius: 0.3em 0.3em 0 0;
  border-bottom: 1px solid var(--color-card-text);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1em;
  color: var(--color-text);
}
@media(max-width: 1000px){
  .bt-card-txt-input,
  .bt-card-txt-ta,
  .bt-card-num-input{
    font-size: 1.2rem;
    height: 4vw;
  }
}
@media(max-width: 600px){
  .bt-card-txt-input,
  .bt-card-txt-ta,
  .bt-card-num-input{
    font-size: 1rem;
    height: 6.5vw;
  }
}

.bt-card-char-count{
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1em;
  color: var(--color-card-text);
}
@media(max-width: 1000px){
  .bt-card-char-count{
    font-size: 0.8rem;
  }
}

.bt-card-txt-ta{
  height: 4.51vw;
  line-height: 1.4em;
}
@media(max-width: 1000px){
  .bt-card-txt-ta{
    height: 6.8vw;
  }
}
@media(max-width: 1000px){
  .bt-card-txt-ta{
    height: 10.8vw;
  }
}

.bt-card-select.fl-cl.fl-sb{
  width: 60%;
  padding: 0.625em;
  border-radius: 5px;
  background-color: var(--color-sub-bg);
}

.bt-card-categories.fl-cl,
.bt-card-tags.fl-cl{
  gap: 0.5em;
}

.bt-card-tag.fl-cc{
  gap: 0.333em;
  background-color: #fff;
  padding: 0.5em;
}

.bt-card-category p,
.bt-card-tag p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1em;
  color: var(--color-text);  
}
@media(max-width: 1000px){
  .bt-card-category p,
  .bt-card-tag p{
    font-size: 1.2rem;
  }
}

.bt-xmark-icon{
  height: 1.5rem;
  color: #2474C6;  
  cursor: pointer;
}
@media(max-width: 1000px){
  .bt-xmark-icon{
    height: 1.2rem;
  }
}

.bt-card-select-icon{
  height: 2rem;
  color: var(--color-card-text);
  cursor: pointer;
}
@media(max-width: 1000px){
  .bt-card-select-icon{
    height: 1.5rem;
  }
}

.bt-tag-input{
  border: none;
  outline: none;
  background-color: var(--color-sub-bg);
  width: 50%;
  padding: 0.5em;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1em;
  color: var(--color-text);
}
@media(max-width: 1000px){
  .bt-tag-input{
    font-size: 1.2rem;
  }
}

.bt-submit{
  width: 100%;
}

.bt-submit-btn{
  padding: 0.65em 1.5em;
  background: var(--color-btn);
  box-shadow: 0px 4px 23px 4px rgba(0, 0, 0, 0.13);
  border: none;
  border-radius: 8px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1em;
  letter-spacing: 0.04em;
  color: var(--color-htext);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.bt-submit-btn:hover{
  transform: scale(1.05);
}