/* bt */
.bt-tab.fl-tl.fl-c,
.bt-heading.fl-tl.fl-c{
  gap: 0.8em;
}
@media(max-width: 600px){
  .bt-heading.fl-tl.fl-c{
    align-items: center;
  }
}

.bt-title{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 3rem;
  line-height: 1em;
  color: var(--color-card-text);
  width: 100%;
}
@media(max-width: 1000px){
  .bt-title{
    font-size: 2rem;
  }
}
@media(max-width: 600px){
  .bt-title{
    text-align: center;
  }
}
.bt-subtitle{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25em;
  color: var(--color-card-text); 
  width: 50%;
}
@media(max-width: 1000px){
  .bt-subtitle{
    font-size: 1rem;
  }
}
@media(max-width: 600px){
  .bt-subtitle{
    font-size: 1rem;
    width: 80%;
    text-align: center;
  }
}

.bt-form-container.fl-cl.fl-c{
  gap: 1rem;
  width: 100%;
  padding: 1em;
}

.bt-card.fl-tl.fl-c{
  width: 100%;
  padding: 1.25vw;
  background: var(--color-bg);
  box-shadow: 0px 4px 23px 4px rgba(54, 30, 119, 0.1);
  border-radius: 0.44em;
  gap: 2.08vw;
}
@media(max-width: 1000px){
  .bt-card.fl-tl.fl-c{
    padding: 2.02vw;
    gap: 3.37vw;
  }
}
@media(max-width: 600px){
  .bt-card.fl-tl.fl-c{
    padding: 3.07vw;
    gap: 5.11vw;
  }
}

.bt-card-title{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 2rem;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: var(--color-card-text);
  width: 100%;
}