/* cf */
.cf-wrapper.fl-cc{
  max-width: 100%;
  gap: 0.7vw;
}

.cf-category{
  padding: 0.5em 0.9em;
  /* gap: 10px; */
  border: 1px solid #361E77;
  border-radius: 0.5em;
  width: max-content;
  /* flex-wrap: nowrap; */

  font-family: var(--font-family);
  font-weight: 400;
  /* font-size: max(8px, 1.25vw); */
  font-size: 1.25vw;
  line-height: 1em;
  color: #544776;
  cursor: pointer;

  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  transition: all 0.4s ease;
}
.cf-category:hover{
  background-color: #9071DF;
  color: var(--color-htext);
  border-color: #9071DF;
}
.cf-category.active{
  background-color: #361E77;
  border-color: #361E77;
  color: var(--color-htext);
}

.cf-arrow-btn{
  /* width: max(14px, 2vw); */
  width: 2vw;
  /* height: max(14px, 2vw); */
  height: 2vw;
  color: #544776;
  cursor: pointer;
}

.cf-other-cat-wrapper.fl-cc{
  gap: 0.7vw;
  width: 76.4vw;
}
@media (max-width: 450px){
  .cf-other-cat-wrapper.fl-cc{
    width: 70.4vw;
  }
}

.cf-other-cat.fl-cl{
  gap: 0.7vw;
  width: 92%;
  overflow: hidden;
}