/* cpp */
.cpp-section.sc-padding.fl-cl.fl-c{
  padding-top: 7.04vw;
  padding-bottom: 7.04vw;
  gap: 6.94vw;
}
@media (max-width: 1000px){
  .cpp-section.sc-padding.fl-cl.fl-c{
    padding-top: 8vw;
    padding-bottom: 8vw;
    gap: 11.2vw;
  }
}
@media(max-width: 550px){
  .cpp-section.sc-padding.fl-cl.fl-c{
    padding-top: 17.29vw;
    padding-bottom: 17.29vw;
    gap: 17vw;
  }
}