/* cc */
.cc-container{
  width: clamp(222.23px, 27.78vw, 711.16px);
  height: clamp(258.39px, 32.3vw, 826.88px);
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(29, 7, 84, 0.08);
  border-radius: clamp(11.1px, 1.39vw, 35.5px);
}

.cc-img{
  width: 100%;
  border-radius: clamp(11.1px, 1.39vw, 35.5px);
}

.cc-img img{
  width: 100%;
  height: auto;
  border-radius: clamp(11.1px, 1.39vw, 35.5px) clamp(11.1px, 1.39vw, 35.5px) 0 0;
  object-fit: cover;
}

.cc-details.fl-cl.fl-c{
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: clamp(8.333px, 1.04vw, 26.667px)  clamp(11.1px, 1.39vw, 35.5px);
}

.cc-cta{
  width: 100%;
}

.cc-cat-icon{
  width: 1.67em;
  height: 1.67em;
  color: var(--color-card-text);
}

.cc-cat-name.fl-cl{
  gap: 0.57em;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(8.333px, 1.04vw, 26.667px);
  line-height: 1em;
  letter-spacing: 0.03em;
  color: var(--color-card-text);
}

.cc-cta button.fl-tl{
  padding: 0.6em 0.91em;
  gap: 0.91em;
  border: 1px solid rgba(84, 71, 118, 0.57);
  border-radius: 0.73em;
  background: none;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(6.1px, 0.76vw, 19.56px);
  line-height: 1em;
  letter-spacing: 0.03em;
  color: var(--color-subtext);
  cursor: pointer;
  transition: all 0.4s ease;
}

.cc-cta button:hover{
  background-color: #9071DF;
  color: var(--color-htext);
  border-color: #9071DF;
}

.cc-camp-title.fl-tl.fl-c{
  gap: clamp(3.33px, 0.42vw, 10.67px);
  width: 100%;
}

.cc-camp-title h4{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(10px, 1.25vw, 32px);
  line-height: 1em;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.cc-camp-title p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(8.333px, 1.04vw, 26.667px); /*15px*/
  line-height: 1.33em;
  letter-spacing: 0.01em;
  color: var(--color-subtext);
} 

.cc-status.fl-cl.fl-sb{
  width: 100%;
}

.cc-amounts.fl-tl.fl-c,
.cc-percent.fl-bl.fl-c{
  gap: clamp(2.78px, 0.34vw, 8.89px);
}

.cc-amt-raised.fl-cl{
  gap: clamp(1.67px, 0.2vw, 5.33px);
}

.cc-curr-icon{
  width: clamp(5.5px, 0.69vw, 17.8px); /*10px*/
  height: auto;
  color: var(--color-card-text);
}

.cc-amt-figure,
.cc-amt-curr,
.cc-goal{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(10px, 1.25vw, 32px);  /*18px*/
  line-height: 1em;
  color: var(--color-subtext);
}

.cc-amt-curr{
  color: var(--color-card-text);
}

.cc-goal
{
  font-size: clamp(6.1px, 0.76vw, 19.56px); /*11px*/
  line-height: 1em;
}

.cc-progress-bar{
  width: clamp(96px, 48%, 307.19px);
  height: clamp(5.5px, 0.69vw, 17.8px);
  border-radius: clamp(2.78px, 0.34vw, 8.89px);
  background-color: #E0DCE4;;
}

.cc-progress-level{
  width: 30%;
  height: 100%;
  border-radius: clamp(2.78px, 0.34vw, 8.89px);
  background-color: var(--color-card-text);
}

.cc-percent p:first-child{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(9.4px, 1.18vw, 30.2px);
  line-height: 1em;
  color: var(--color-card-text);
}

.cc-percent p:last-child{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(6.1px, 0.76vw, 19.56px);
  line-height: 1em;
  color: var(--color-card-text);
}

.cc-creator-eta.fl-cl.fl-sb{
  width: 100%;
}

.cc-creator.fl-cl{
  gap: clamp(5.5px, 0.69vw, 17.8px);
}

.cc-creator-jazzicon{
  width: clamp(16.67px, 2.08vw, 53.3px);
  height: clamp(16.67px, 2.08vw, 53.3px);
  background: var(--color-btn);
  opacity: 0.74;
  border-radius: 0.55vw;
}

.cc-creator p{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(8.333px, 1.04vw, 26.667px);
  line-height: 1em;
  color: var(--color-subtext);
}

.cc-eta.fl-tr{
  gap: 0.3em;
}

.cc-eta p:first-child{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(8.333px, 1.04vw, 26.667px);
  line-height: 1em;
  color: var(--color-card-text);
}

.cc-eta p:last-child{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(6.1px, 0.76vw, 19.56px);
  line-height: 1em;
  color: var(--color-subtext);
}