/* sb */
.sb-container.fl-tl.fl-c{
  gap: 3.47vw;
  width: 100%;
}

.sb-bio.fl-tl.fl-c{
  gap: 1.25vw;
  width: 100%;
}

.sb-bio-heading,
.sb-support-heading{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.39vw;
  line-height: 1em;
  color: var(--color-card-text);
  background-color: var(--color-sub-bg);
  padding: 0.5em;
  width: 100%;
}

.sb-bio-details.fl-tl{
  gap: 0.55vw;
}

.sb-creator-jazzicon{
  width: 3.47vw;
  height: 3.47vw;
  background: linear-gradient(98.97deg, #2474C6 -35.95%, #C4A2E7 114.36%);
  box-shadow: 0px 4px 23px 4px rgba(0, 0, 0, 0.08);
  border-radius: 0.55vw;
}

.sb-creator-details.fl-tl.fl-c{
  gap: 0.69vw;
}

.sb-bio-curr-icon{
  height: 1.04vw;
  color: var(--color-card-text);
}

.sb-creator-address.fl-cl{
  gap: 0.35vw;
}

.sb-creator-address p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.04vw;
  line-height: 1em;
  color: var(--color-card-text);
}

.sb-creator-name{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.39vw;
  line-height: 1em;
  color: var(--color-card-text);
}

.sb-creator-socials.fl-cl{
  gap: 0.69vw;
}

.sb-social-icon{
  width: 1.25vw;
  height: 1.25vw;
  color: var(--color-card-text);
}
@media(max-width: 1000px){
  .sb-social-icon{
    width: 2.02vw;
    height: 2.02vw;
  }
}
@media(max-width: 550px){
  .sb-social-icon{
    width: 3.07vw;
    height: 3.07vw;
  }
}

.sb-creator-bio{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.97vw;
  line-height: 1.25em;
  color: var(--color-card-text);
}

.sb-support.fl-tl.fl-c{
  gap: 1.25vw;
  width: 100%;
}

.sb-support-box.fl-tl.fl-c{
  background: #FFFFFF;
  box-shadow: 0px 4px 23px 4px rgba(0, 0, 0, 0.13);
  border-radius: 0.55vw;
  gap: 1.39vw;
  padding: 1.04vw 0.69vw;
}

.sb-support-box-heading,
.sb-support-info h4,
.sb-support-info p{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.04vw;
  line-height: 1em;
  color: var(--color-card-text);
}

.sb-input.fl-cl{
  border-bottom: 1px solid var(--color-card-text);
  border-radius: 5px 5px 0 0;
  background-color: var(--color-sub-bg);
  padding: 0.35vw;
  gap: 0.69vw;
  width: 100%;
}

.sb-input p,
.sb-input input{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.97vw;
  line-height: 1em;
  color: var(--color-subtext);
}

.sb-input input{
  border: none;
  outline: none;
  color: var(--color-text);
  background-color: var(--color-sub-bg);
  width: 100%;
}

.sb-support-info{
  background-color: var(--color-sub-bg);
  border-radius: 8px;
  padding: 0.69vw;
  width: 100%;
}

.sb-support-info h4{
  color: var(--color-text);
  font-weight: 600;
  margin-bottom: 1.39vw;
}

.sb-support-info p{
  font-weight: 400;
  font-size: 0.97vw;
  line-height: 1.5em;
  /* width: 90%; */
}

.sb-fund-cta{
  width: 100%;
  padding: 0.65em 1.5em;
  background: var(--color-btn);
  box-shadow: 0px 4px 23px 4px rgba(0, 0, 0, 0.07);
  border: none;
  border-radius: 0.5em;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: min(1.18vw, 30.26px);
  line-height: 1em;
  letter-spacing: 0.05em;
  color: var(--color-htext);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.sb-fund-cta:hover{
  transform: scale(1.008);
}
@media(max-width: 1000px){
  .sb-fund-cta{
    font-size: 1.91vw;
  }
}
@media(max-width: 550px){
  .sb-fund-cta{
    font-size: 2.9vw;
  }
}
