/* cpd */
.cpd-section.fl-tc{
  width: 100%;
  flex-wrap: nowrap;
  gap: 4em;
}

.cpd-trajectory{
  width: 70%;
}
@media(max-width: 1000px){
  .cpd-trajectory{
    width: 100%;
  }
}


.cpd-tab-titles.fl-cc{
  gap: 2em;
  /* margin-bottom: 0.55vw; */
}

.cpd-tab-titles.fl-cc h4{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.39vw;
  line-height: 1em;
  color: var(--color-card-text);
  transition: all 0.2s ease;
}
@media(max-width: 1000px){
  .cpd-tab-titles.fl-cc h4{
    font-size: 2.25vw;
  }
}
@media(max-width: 550px){
  .cpd-tab-titles.fl-cc h4{
    font-size: 3.42vw;
  }
}

.cpd-active-tab{
  padding-bottom: 0.18em;
  border-bottom: 0.2em solid var(--color-card-text);
}

.cpd-separator{
  width: 100%;
  border-top: 1px solid var(--color-subtext);
}

.cpd-active-tab-indic{
  height: 0.34vw;
  width: 4.86vw;
  background-color: var(--color-card-text);
  transform: translateX(30.05vw); /* 407px */
}
@media(max-width: 1000px){
  .cpd-active-tab-indic{
    height: 0.55vw;
    width: 7.86vw;
  }
}
@media(max-width: 550px){
  .cpd-active-tab-indic{
    height: 0.83vw;
    width: 11.86vw;
  }
}


.cpd-info{
  width: 25%;
  padding-top: 24px;
}
@media(max-width: 1000px){
  .cpd-info{
    display: none;
  }
}
