/* crh */
.crh-section.sc-padding.fl-cl.fl-c{
  padding-top: 7.04vw;
  /* padding-bottom: 15px; */
  /* padding-bottom: 7.04vw; */
  gap: 1.74vw;
}
@media (max-width: 1000px){
  .crh-section.sc-padding.fl-cl.fl-c{
    padding-top: 8vw;
    /* padding-bottom: 8vw; */
    gap: 2.82vw;
  }
}
@media(max-width: 550px){
  .crh-section.sc-padding.fl-cl.fl-c{
    padding-top: 17.29vw;
    /* padding-bottom: 17.29vw; */
    gap: 3vw;
  }
}

.crh-section.sc-padding.fl-cl.fl-c{
  background: var(--color-section-hd);
  width: 100%;
  gap: 50px;
}

.crh-bio.fl-tl{
  width: 100%;
  gap: 18px;
}

.crh-jazzicon{
  background: linear-gradient(98.97deg, #2474C6 -35.95%, #C4A2E7 114.36%);
  box-shadow: 0px 4px 23px 4px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  width: 90px;
  height: 90px;
}

.crh-details.fl-tl.fl-c{
  gap: 7px;
}

.crh-curr-icon{
  height: 18px;
  color: var(--color-htext);
}

.crh-address.fl-tl{
  gap: 5px;
}

.crh-address.fl-tl p,
.crh-username,
.crh-name,
.crh-contribution{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1em;
  color: var(--color-htext);
}

.crh-username{
  font-weight: 600;
  letter-spacing: 0.03em;
}

.crh-name,
.crh-contribution{
  font-size: 15px;
  font-weight: 400;
}

.crh-menu.fl-tc{
  gap: 340px;
  width: 100%;
  position: relative;
}

.crh-socials.fl-cr{
  gap: 25px;
  position: absolute;
  right: 1%;
}

.crh-social-icon{
  height: 18px;
  color: #fff;
}

.crh-tab-menu.fl-cl{
  gap: 40px;
}

.crh-tab-title{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1em;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  border-bottom: 5px solid transparent;
  padding-bottom: 12px;
}

.crh-active-tab{
  border-bottom: 5px solid white;
}