/* nv */
.nv-navbar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-footer);
  padding: 1em 8em;
  z-index: 10;
}
@media (max-width: 1050px){
  .nv-navbar{
    padding: 1em 4em;
  }
}
@media (max-width: 550px){
  .nv-navbar{
    padding: 1em 1.6em;
  }
}
@media (max-width: 350px){
  .nv-navbar{
    padding: 1em;
  }
}

.nv-logo.fl-cl{
  gap: 0.5em;
}

.nv-logo img{
  width: clamp(20px, 1.9vw, 36px);
}

.nv-logo p{
  font-family: 'Barlow';
  font-weight: 700;
  font-size: clamp(16px, 1.6vw, 30px);
  letter-spacing: 0.03em;
  color: var(--color-htext);
}

.nv-menu.fl-cr,
.nv-menu-links.fl-cr{
  gap: 2em;
}
@media (max-width: 850px){
  .nv-menu.fl-cr{
    gap: 1em;
  }

  .nv-menu-links.fl-cr{
    display: none;
  }

  .nv-menu-links.fl-tl{
    flex-direction: column;
  }
}

.nv-menu-links a{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(13px, 1.1vw, 20px);
  line-height: 1em;
  letter-spacing: 0.04em;
  color: var(--color-htext);
}

.nv-connect{
  padding: 0.65em 1.5em;
  background: var(--color-btn);
  box-shadow: 0px 4px 23px 4px rgba(0, 0, 0, 0.13);
  border: none;
  border-radius: 8px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(11px, 1.1vw, 20px);
  line-height: 1em;
  letter-spacing: 0.04em;
  color: var(--color-htext);
  cursor: pointer;
}
@media (max-width: 350px){
  .nv-connect{display: none;}
}

.nv-hamburger{
  width: 30px;
  height: 30px;
  color: var(--color-htext);
  display: none;
}
@media (max-width: 850px){
  .nv-hamburger{
    display: inline;
  }
}
@media (max-width:350px){
  .nv-hamburger{
    width: 27px;
    height: 27px;
  }
}

.nv-inVis{
  display: none;
}

.nv-ham-connect{
  display: none;
}
@media (max-width: 350px){
  .nv-ham-connect{
    display: block;
  }
}

.nv-ham-menu-container{
  display: none;
}
@media (max-width: 850px){
  .nv-ham-menu-container{
    display: block;
    position: absolute;
    right: 20px;
    top: 47px;
    background-color: var(--color-footer);
    border-radius: 0.6rem;
    padding: 1.5em;
  } 
}

