/* fc */
.fc-container.fl-tl{
  width: 100%;
  gap: 3em;
}

.fc-img{
  width: 50%;
  border-radius: min(1.39vw, 35.5px);
}

.fc-img img{
  width: 100%;
  border-radius: min(1.39vw, 35.5px);
  object-fit: contain;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.fc-details.fl-tl.fl-c{
  width: 48%;
  height: 100%;
  gap: 4em;
}
@media (max-width: 1000px){ /*1440-999*/
  .fc-details.fl-cl.fl-c{
    padding: 1.68vw 2.25vw;
  }
}
@media (max-width: 550px){ /*768-450*/
  .fc-details.fl-cl.fl-c{
    padding: 2.56vw  3.42vw;
  }
}

.fc-cta{
  width: 100%;
}

.fc-cat-icon{
  width: 1.67em;
  height: 1.67em;
  color: var(--color-card-text);
}

.fc-cat-name.fl-cl{
  gap: 0.57em;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: min(1.39vw, 35.5px);
  line-height: 1em;
  letter-spfcing: 0.04em;
  color: var(--color-card-text);
}
@media (max-width: 1000px){
  .fc-cat-name.fl-cl{
    font-size: 2.25vw;
  }
}
@media (max-width: 550px){ 
  .fc-cat-name.fl-cl{
    font-size: 3.42vw;
  }
}

.fc-cta button.fl-fc{
  padding: 0.7em 0.91em 0.6em;
  gap: 0.91em;
  border: 1px solid rgba(84, 71, 118, 0.57);
  border-radius: 0.73em;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: min(1.04vw, 26.667px);
  line-height: 1em;
  letter-spfcing: 0.03em;
  color: var(--color-text);
  cursor: pointer;
  transition: all 0.4s ease;
}
.fc-cta button:hover{
  background-color: #9071DF;
  color: var(--color-htext);
  border-color: #9071DF;
}
@media(max-width: 1000px){
  .fc-cta button.fl-fc{
    font-size: 1.68vw;
  }
}
@media(max-width: 550px){
  .fc-cta button.fl-fc{
    font-size: 2.56vw;
  }
}


.fc-camp-title.fl-tl.fl-c{
  gap: min(0.42vw, 10.67px);
  width: 100%;
}
@media(max-width: 1000px){
  .fc-camp-title.fl-tl.fl-c{
    gap: 0.68vw;
  }
}
@media(max-width: 550px){
  .fc-camp-title.fl-tl.fl-c{
    gap: 1.03vw;
  }
}


.fc-camp-title h4{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: min(1.74vw, 44.4px); /*18px*/
  line-height: 1em;
  letter-spfcing: 0.02em;
  color: var(--color-text);
}
@media(max-width: 1000px){
  .fc-camp-title h4{
    font-size: 2.82vw;
  }
}
@media(max-width: 550px){
  .fc-camp-title h4{
    font-size: 4.28vw;
  }
}

.fc-camp-title p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: min(1.25vw, 32px); /*15px*/
  line-height: 1.33em;
  letter-spfcing: 0.01em;
  color: var(--color-subtext);
} 
@media (max-width: 1000px){
  .fc-camp-title p{
    font-size: 2.02vw;
  }
}
@media(max-width: 550px){
  .fc-camp-title p{
    font-size: 3.07vw;
  }
}


.fc-status.fl-cl.fl-sb{
  width: 100%;
}

.fc-amounts.fl-tl.fl-c,
.fc-percent.fl-bl.fl-c{
  gap: min(0.34vw, 8.89px);
}
@media(max-width: 1000px){
  .fc-amounts.fl-tl.fl-c,
  .fc-percent.fl-bl.fl-c{
    gap: 0.55vw;
  }
}
@media(max-width: 550px){
  .fc-amounts.fl-tl.fl-c,
  .fc-percent.fl-bl.fl-c{
    gap: 0.83vw;
  }
}

.fc-amt-raised.fl-cl{
  gap: min( 0.2vw, 5.33px);
}
@media(max-width: 1000px){
  .fc-amt-raised.fl-cl{
    gap: 0.32vw;
  }
}
@media(max-width: 550px){
  .fc-amt-raised.fl-cl{
    gap: 0.49vw;
  }
}

.fc-curr-icon{
  width: min(1.04vw, 26.67px); /*10px*/
  height: auto;
  color: var(--color-card-text);
}
@media(max-width: 1000px){
  .fc-curr-icon{
    width: 1.68vw;
  }
}
@media(max-width: 550px){
  .fc-curr-icon{
    width: 2.56vw;
  }
}

.fc-amt-figure,
.fc-amt-curr,
.fc-goal{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: min(1.39vw, 35.5px);  /*18px*/
  line-height: 1em;
  color: var(--color-subtext);
}
@media(max-width: 1000px){
  .fc-amt-figure,
  .fc-amt-curr,
  .fc-goal{
    font-size: 2.25vw;
  }
}
@media(max-width: 550px){
  .fc-amt-figure,
  .fc-amt-curr,
  .fc-goal{
    font-size: 3.42vw;
  }
}

.fc-amt-curr{
  color: var(--color-card-text);
}

.fc-goal{
  font-size: min(1.04vw, 26.67px); /*11px*/
  line-height: 1em;
}
@media(max-width: 1000px){
  .fc-goal{
    font-size: 1.68vw;
  }
}
@media(max-width: 550px){
  .fc-goal{
    font-size: 2.56vw;
  }
}

.fc-status-container.fl-tl.fl-c{
  gap: 1em;
  width: 100%;
}

.fc-progress-bar{
  width: 100%;
  height: min(0.69vw, 17.8px);
  border-radius: min(0.34vw, 8.89px);
  background-color: #E0DCE4;;
}
@media(max-width: 1000px){
  .fc-progress-bar{
    height: 1.12vw;
    border-radius: 0.55vw;
  }
}
@media(max-width: 550px){
  .fc-progress-bar{
    height: 1.70vw;
    border-radius: 0.83vw;
  }
}

.fc-progress-level{
  width: 30%;
  height: 100%;
  border-radius: min(0.34vw, 8.89px);
  background-color: var(--color-card-text);
}
@media(max-width: 1000px){
  .fc-progress-level{
    border-radius: 0.55vw;
  }
}
@media(max-width: 550px){
  .fc-progress-level{
    border-radius: 0.83vw;
  }
}

.fc-percent p:first-child{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: min(1.39vw, 35.5px);
  line-height: 1em;
  color: var(--color-card-text);
}
@media(max-width: 1000px){
  .fc-percent p:first-child{
    font-size: 2.25vw;
  }
}
@media(max-width: 550px){
  .fc-percent p:first-child{
    font-size: 3.42vw;
  }
}

.fc-percent p:last-child{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: min(1.04vw, 26.67px);
  line-height: 1em;
  color: var(--color-card-text);
}
@media(max-width: 1000px){
  .fc-percent p:last-child{
    font-size: 1.68vw;
  }
}
@media(max-width: 550px){
  .fc-percent p:last-child{
    font-size: 2.56vw;
  }
}

.fc-creator-eta.fl-cl.fl-sb{
  width: 100%;
}

.fc-creator.fl-cl{
  gap: min(0.69vw, 17.8px);
}
@media(max-width: 1000px){
  .fc-creator.fl-cl{
    gap: 1.12vw;
  }
}
@media(max-width: 550px){
  .fc-creator.fl-cl{
    gap: 1.7vw;
  }
}

.fc-creator-jazzicon{
  width: min(3.12vw, 72.8px);
  height: min(3.12vw, 72.8px);
  background: var(--color-btn);
  opfcity: 0.74;
  border-radius: 0.55vw;
}
@media(max-width: 1000px){
  .fc-creator-jazzicon{
    width: 4.6vw;
    height: 4.6vw;
    border-radius: 0.89vw;
  }
}
@media(max-width: 550px){
  .fc-creator-jazzicon{
    width: 7vw;
    height: 7vw;
    border-radius: 1.35vw;
  }
}

.fc-creator p{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: min(1.25vw, 32px);
  line-height: 1em;
  color: var(--color-subtext);
}
@media(max-width: 1000px){
  .fc-creator p{
    font-size: 2.02vw;
  }
}
@media(max-width: 550px){
  .fc-creator p{
    font-size: 3.07vw;
  }
}

.fc-fund-cta{
  padding: 0.65em 1.5em;
  background: var(--color-btn);
  box-shadow: 0px 4px 23px 4px rgba(0, 0, 0, 0.13);
  border: none;
  border-radius: 8px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(11px, 1.1vw, 20px);
  line-height: 1em;
  letter-spfcing: 0.04em;
  color: var(--color-htext);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.fc-fund-cta:hover{
  transform: scale(1.05);
}