/* cpp */
.ccp-section.sc-padding.fl-cl.fl-c{
  padding-top: 7.04vw;
  padding-bottom: 7.04vw;
  gap: 2.08vw;
}
@media (max-width: 1000px){
  .ccp-section.sc-padding.fl-cl.fl-c{
    padding-top: 9vw;
    padding-bottom: 9vw;
  }
}
@media(max-width: 550px){
  .ccp-section.sc-padding.fl-cl.fl-c{
    padding-top: 17.29vw;
    padding-bottom: 17.29vw;
  }
}

.ccp-sub-wrapper{
  width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}



.ccp-subtitle{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: min(1.25vw, 32px);
  line-height: 1.1em;
  letter-spacing: 0.02em;
  color: var(--color-card-text);
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}
@media (max-width: 1000px){
  .ccp-subtitle{
    font-size: 2.02vw;
  }
}
@media(max-width: 550px){
  .ccp-subtitle{
    font-size: 3.07vw;
  }
}
